{
	"presets": [
		"es2015",
		"stage-0",
		"stage-1",
        "react"
	],
	"plugins": [
		["module-alias",
          [
            {"src": "./src/manager/index", "expose": "Managers"},
            {"src": "./src/model/index", "expose": "Models"},
            {"src": "./src/service/index", "expose": "Service"},
            {"src": "./src/errors/Errors", "expose": "Errors"},
            {"src": "./src/errors/ErrorCodes", "expose": "ErrorCodes"},
            {"src": "./src/errors/ErrorMessages", "expose": "ErrorMessages"},
            {"src": "./src/routes/constants/HttpMethods", "expose": "HttpMethods"},
            {"src": "./src/routes/constants/HttpPaths", "expose": "HttpPaths"},
            {"src": "./src/routes/constants/HttpCodes", "expose": "HttpCodes"},
          ]
		],
      ["flow-runtime", {
        "assert": true,
        "annotate": true
      }]

	]
}