{
  "extends":"airbnb/base",
  "globals":{
    "Promise":false,
    "__DEV__":false
  },
  "parser":"babel-eslint",
  "parserOptions": {
    "ecmaVersion":6,
    "sourceType":"module",
    "ecmaFeatures":{
      "modules":true,
      "experimentalObjectRestSpread":true
    }
  },
  "rules": {
    "arrow-body-style":0,
    "new-cap":0,
    "max-len":[ 2, 120, 2,
      {
        "ignoreUrls":true,
        "ignoreComments":false
      }
    ],
    "no-underscore-dangle":[
      2,
      {
        "allow":[
          "_id",
          "_rev",
          "_deleted"
        ]
      }
    ],
    "no-else-return":0,
    "no-use-before-define":0,
    "indent":[2, 2],
    "quotes":[2, "single"],
    "linebreak-style":[2, "unix"],
    "semi":[2, "always"]
  },
  "settings": {
    "import/resolver": {
      "babel-module-alias": {}
    }
  },
  "env":{
    "mocha":true,
    "node":true
  }
}
